* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image: url(../img/2147701348.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: "Poppins", sans-serif;
    overflow: auto;
}
header {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 3;
}
nav {
    height: 10vh;
    background-color: #85C1E9 ;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
}
.navul {
    display: flex;
    gap: 30px;
    list-style: none;
}
.navul li a {
    text-decoration: none;
    color: inherit;
}
.logo {
    align-items: center;
    text-align: center;
}
span {
    font-size: 32px;
}
.imglogo {
    width: 300px;
    margin-top: 70px;
}
.contenedor {
    align-items: center;
    text-align: center;
}
.hambu {
    width: 400px;
    /*transition: transform 1s linear;*/
    animation: movimiento 3s infinite alternate linear;
}
.loguin {
    background-color: #3498DB;
    padding: 10px;
    border-radius: 15px;
}
.loguin:hover {
    background-color: #34495E;
    color: #ffffff; 
}
.regis {
    background-color: #28B463;
    padding: 10px;
    border-radius: 15px;
}
.regis:hover {
    background-color: #34495E;
    color: #ffffff; 
}

h3 {
    color: orange;
    font-size: 23px;
    padding: 10px;
}
p {
    color: #ffffff;
    font-size: 20px;
    margin: auto;
    padding: 10px;

}
.precio {
    color: red;
    background-color: beige;
    width: 80px;
    margin: auto;
    font-size: 25px;
    border-radius: 20px;
    padding: 5px;
}

.titulo {
    text-align: center;
    color: #ffffff;
}
.enlace {
   margin: 50px;
}
.enlace2 {
    text-decoration: none;
    color: lightcoral;
    font-size: 20px;
}
.btnwat {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: rgba(35, 155, 87, 0.842);
    color: #ffffff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    align-items: center;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 10;
}
.btnwat:hover {
    text-decoration: none;
    background: #ffffff;
    color:rgb(35,155,87);
}
i {
    font-size: 40px;
}
footer {
    height: 50px;
    background-color: #85C1E9;
    margin: 10px;
    padding: 10px;
    display: flex;
    gap: 30px;
    justify-content: center;
}
footer a:hover {
    color: #ffffff;
}
footer a {
    text-decoration: none;
}
h2 {
    text-align: center;
    align-content: center;
}
.formulario h4 {
    font-size: 20px;
    margin-bottom: 20px;

}
.formu {
    width: 100%;
    background-color: grey;
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #ffffff;
    border: 2px solid blue;
    font-size: 16px;
}
.inises {
    color: #0f0;
    padding-bottom: 20px;
    font-size: 2rem;
}
.sesi {
    background-color: rgba(40, 180, 98, 0.205);
    width: 400px;
    height: 400px;
    text-align: center;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    border: 1px solid #0f0;
    box-shadow: 0 0 10px #0f0, inset 0 0 10px #0f0;
    color: #0f0;
    flex-direction: column;
}
input::placeholder {
    color:#f5f5f5;
}
.regist {
    text-decoration: none;
    margin-top: 50px;
    color: #0f0;
    
}
.regist:hover {
    color: #000000;
   
}
.btnre {
    width: 5rem;
    border: 2px solid #0f0;
    border-radius: 25px;
    margin-top: 50px;
}
.btnre:hover {
    background-color: #0f0;
}
#emailse {
    border: 1px solid #0f0;
    box-shadow: 0 0 10px #0f0, inset 0 0 10px #0f0;
    border-radius: 25px;
}
#passe {
    border: 1px solid #0f0;
    box-shadow: 0 0 10px #0f0, inset 0 0 10px #0f0;
    border-radius: 25px;
}
.btnlog {
    color: #000000;
    background-color: #0f0;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    width: 100%;
    padding: 10px;
    margin: 16px 0;
    border: 2px solid #0f0;
    font-size: 18px;
}
.btnlog:hover {
    color: #0f0;
    background-color: #000000;
}
.alerta {
    width: 200px;
    text-align: center;
    margin: auto;
    color: #b06ab3;
    padding-top: 20px;
}
.formulario {
   width: 500px;
   background: #000000;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    color: #ffffff;
}
#ubicacion {
    align-items: center;
 text-align: center;
}
.btnregistro {
    color: #ffffff;
    background-color: blue;
    width: 150px;
    height: 40px;
    border-radius: 5%;
    width: 100%;
    padding: 10px;
    margin: 16px 0;
    font-size: 18px;

}
#btnregistro:hover {
color: blue;
font-weight: bold;
background-color: white;
}
@keyframes movimiento {
    from {
        transform: translateX(-300px);
    }
    to {
        transform: translateX(300px);
    }
}
@keyframes slide {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}
