* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #f0f0f0;
    margin: 20px;
    font-family: "Poppins", sans-serif;
    overflow: auto;
}
header {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 3;
}
nav {
    height: 10vh;
    background-color: #85C1E9 ;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
}
.navul {
    display: flex;
    gap: 30px;
    list-style: none;
}
.navul li a {
    text-decoration: none;
    color: inherit;
}
.navul li a:hover {
    color: #ffffff;
}
#tendencias {
    background-image: url(../img/2147701348.jpg);
    background-size: cover;
    background-position: center;
    padding: 5px;
}
span {
    font-size: 32px;
}
.btnwat {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: rgba(35, 155, 87, 0.842);
    color: #ffffff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    align-items: center;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 10;
}             
.wobble {
    animation-name: wobble;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  
  @keyframes wobble {
    0% {transform: translateX(0) rotate(0deg);}
    15% {transform: translateX(-30px) rotate(-5deg);}
    30% {transform: translateX(15px) rotate(3deg);}
    45% {transform: translateX(-15px) rotate(-3deg);}
    60% {transform: translateX(9px) rotate(2deg);}
    75% {transform: translateX(-6px) rotate(-1deg);}
    100% {transform: translateX(0) rotate(0deg);}
  }           
.pulse {
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  
  @keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
  }
.btnwat:hover {
    text-decoration: none;
    background: #ffffff;
    color:rgb(35,155,87);
}
.integrantes {
    display: flex;
    gap: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #28B463;
}
.titulo3 {
    text-align: center;
    position: relative;
    margin: auto;
    font-size: 48px;
    color: #000000;
    border: solid 5px;
    background-color: #FCF3CF;
    align-items: center;
    border-radius: 8px;
    width: 1000px;
}
.loguin {
    background-color: #3498DB;
    padding: 10px;
    border-radius: 15px;
}
.loguin:hover {
    background-color: #34495E;
    color: #ffffff; 
}
.regis {
    background-color: #28B463;
    padding: 10px;
    border-radius: 15px;
}
.regis:hover {
    background-color: #34495E;
    color: #ffffff; 
}
.texto {
    position: absolute;
    text-align: center;
    padding: 0 250px;
    top: 250px;
    color: blue;
}
.texto h2{
    font-size: 85px;
    margin-bottom: 35px;
}
.p2 {
    color: black;
    font-size: 30px;
    font-weight: bold;
}
.logo {
    align-items: center;
    text-align: center;
}
.imglogo {
    width: 300px;
    margin-top: 70px;
}
.contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px; 
}
.sandwich {
    width: 325px;
    background-color: #FCF3CF ;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px; 
}
.sandwich img {
    width: 100%;
    height: auto;
}
.descripcion {
    padding: 16px;
}    
.descripcion h3 {
    font-size: 28px;
    margin-bottom: 8px;
    color: black;
}
.descripcion p {
    color: #666;
    font-size: 15px;
    line-height: 1.3; 
}
.descripcion .precio {
    display: inline-block;
    padding: 8px ;
    background-color: red;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #ffffff;  
}
.slider {
    width: 100vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}
.slider .slide2 {
    display: flex;
    animation: calesita 40s linear infinite;
    -webkit-animation: calesita 40s linear infinite;
    width: calc(200px * 18);
}
.slider .slide {
    width: 200px;
}
.slider .slide img {
   width: 100%; 
}
.coment {
    color: #000000;
}
.contenedor-pedidos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.tarjeta-pedidos {
    width: 325px;
    background-color: #FCF3CF ;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 10px;
}
.tarjeta-pedidos img {
    width: 100%;
    height: auto;
}
.contenido-tarjeta {
    padding: 6px;
}
.contenido-tarjeta h4 {
    font-size: 28px;
    margin-bottom: 8px;
}
.contenido-tarjeta p {
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}
.contenido-tarjeta .boton {
    display: inline-block;
    padding: 8px 16px;
    background-color: blue;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #ffffff;
}
h3 {
    color: orange;
    font-size: 23px;
    padding: 10px;
}
p {
    color: #ffffff;
    font-size: 20px;
    margin: auto;
    padding: 10px;

}
.precio {
    color: red;
    background-color: beige;
    width: 80px;
    margin: auto;
    font-size: 25px;
    border-radius: 20px;
    padding: 5px;
}

.titulo {
    text-align: center;
}
.titulo2 {
    color: #000000;
}
.enlace {
   margin: 50px;
}
.enlace2 {
    text-decoration: none;
    color: lightcoral;
    font-size: 20px;
}
footer {
    height: 50px;
    background-color: #85C1E9;
    margin: 10px;
    padding: 10px;
    display: flex;
    gap: 30px;
    justify-content: center;


}
footer a {
    text-decoration: none;
}
footer a:hover {
    color: #ffffff;
}
i {
    font-size: 40px;
}
.enlace {
    text-decoration: none;
    display: flex;
}
.link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
}
.recul {
    list-style: none;
}

h2 {
    text-align: center;
    align-content: center;
}
@keyframes calesita {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 9));
        transform: translateX(calc(-200px * 9));
    }
}
