* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #ffffff;
}
.titulo3 {
    text-align: center;
    padding: auto;
    margin-top: 30px;
    font-size: 48px;
}
.slider-box {
    width: 100%;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
}
.slider-box ul {
    display: flex;
    padding: 0;
    width: 800%;
    animation: slide 40s infinite alternate linear;
}
.slider-box img {
    width: 30%;
}
.slider-box li {
   width: 100%;
   list-style: none;
   position: relative; 
}
.texto {
    position: absolute;
    text-align: center;
    padding: 0 250px;
    top: 250px;
    color: blue;
}
.texto h2{
    font-size: 85px;
    margin-bottom: 35px;
}
.p2 {
    color: black;
    font-size: 30px;
    font-weight: bold;
}
.slider-box img {
    width: 100%;
}

.logo {
    align-items: center;
    text-align: center;
}
.imglogo {
    width: 300px;
    margin-top: 70px;
}
.contenedor {
    align-items: center;
    text-align: center;
}
.hambu {
    width: 400px;
    /*transition: transform 1s linear;*/
    animation: movimiento 3s infinite alternate linear;
}
.tarjeta {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
}


h3 {
    color: orange;
    font-size: 23px;
    padding: 10px;
}
p {
    color: #ffffff;
    font-size: 20px;
    margin: auto;
    padding: 10px;

}
.precio {
    color: red;
    background-color: beige;
    width: 80px;
    margin: auto;
    font-size: 25px;
    border-radius: 20px;
    padding: 5px;
}

.titulo {
    text-align: center;
}
.enlace {
   margin: 50px;
}
.enlace2 {
    text-decoration: none;
    color: lightcoral;
    font-size: 20px;
}
footer {
    height: 50px;
    background-color: aqua;
    margin: 10px;
    padding: 10px;
}

h2 {
    text-align: center;
    align-content: center;
}
.formulario h4 {
    font-size: 20px;
    margin-bottom: 20px;

}
.formu {
    width: 100%;
    background-color: grey;
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #ffffff;
    border: 2px solid blue;
    font-size: 16px;
}

.formulario {
   width: 500px;
   background: #000000;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    color: #ffffff;
}
#ubicacion {
    align-items: center;
 text-align: center;
}
.btnregistro {
    color: #ffffff;
    background-color: blue;
    width: 150px;
    height: 40px;
    border-radius: 5%;
    width: 100%;
    padding: 10px;
    margin: 16px 0;
    font-size: 18px;

}
#btnregistro:hover {
color: blue;
font-weight: bold;
background-color: white;
}
@keyframes movimiento {
    from {
        transform: translateX(-300px);
    }
    to {
        transform: translateX(300px);
    }
}
@keyframes slide {
    0% {margin-left: 0;}
    12% {margin-left: 0;}
    13% {margin-left: -100%;}
    25% {margin-left: -100%;}
    26% {margin-left: -200%;}
    37% {margin-left: -200%;}
    38% {margin-left: -300%;}
    50% {margin-left: -300%;}
    51% {margin-left: -400%;}
    63% {margin-left: -400%;}
    64% {margin-left: -500%;}
    75% {margin-left: -500%;}
    76% {margin-left: -600%;}
    88% {margin-left: -600%;}
    89% {margin-left: -700%;}
    100% {margin-left: -700%;}
}
