* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image: url(../img/san1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.logo {
    align-items: center;
    text-align: center;
}
.imglogo {
    width: 300px;
    margin-top: 70px;
}
.contenedor {
    align-items: center;
    text-align: center;
}
.hambu {
    width: 400px;
    /*transition: transform 1s linear;*/
    animation: movimiento 3s infinite alternate linear;
}


h3 {
    color: orange;
    font-size: 23px;
    padding: 10px;
}
p {
    color: #ffffff;
    font-size: 20px;
    margin: auto;
    padding: 10px;

}
.precio {
    color: red;
    background-color: beige;
    width: 80px;
    margin: auto;
    font-size: 25px;
    border-radius: 20px;
    padding: 5px;
}

.titulo {
    text-align: center;
    color: #ffffff;
}
.enlace {
   margin: 50px;
}
.enlace2 {
    text-decoration: none;
    color: lightcoral;
    font-size: 20px;
}
footer {
    height: 50px;
    background-color: aqua;
    margin: 10px;
    padding: 10px;
}

h2 {
    text-align: center;
    align-content: center;
}
.formulario h4 {
    font-size: 20px;
    margin-bottom: 20px;

}
.formu {
    width: 100%;
    background-color: grey;
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #ffffff;
    border: 2px solid blue;
    font-size: 16px;
}

.formulario {
   width: 500px;
   background: #000000;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    color: #ffffff;
}
#ubicacion {
    align-items: center;
 text-align: center;
}
.btnregistro {
    color: #ffffff;
    background-color: blue;
    width: 150px;
    height: 40px;
    border-radius: 5%;
    width: 100%;
    padding: 10px;
    margin: 16px 0;
    font-size: 18px;

}
#btnregistro:hover {
color: blue;
font-weight: bold;
background-color: white;
}
@keyframes movimiento {
    from {
        transform: translateX(-300px);
    }
    to {
        transform: translateX(300px);
    }
}
@keyframes slide {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}
